extends layout

block content
  h1 Nightlife Coordination App
  p.lead A Free Code Camp Basecamp Challenge
  hr
  .row
    .col-xs-12
      form.form-inline(method='POST')
        .form-group
          .input-group
            input(type='hidden', name='_csrf', value=_csrf)
            input.form-control(type='text', name='location', id='location', autofocus=true, placeholder="Enter your city name", value=location)
            span.input-group-btn
              button.btn.btn-primary(type='submit')
                i.fa.fa-search
                | Search
      each bar, i in bars
        .col-xs-6.col-sm-4.col-md-3
          .thumbnail
            img(src=bar.image_url)
            .caption
              h4 #{bar.name}
              p Rating: #{bar.rating}
                if userId
                  a.btn.btn-primary.btn-xs.pull-right(href="#",class="goingBtn",id=bar.id) #{goingCount} Going